.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    margin: 5px;
}
canvas {
    margin: 20px 0;
    border: 1px solid black;
}
.div-buttons{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.div-inputs{
    text-align: left;
}